<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ha0k3.helloworld">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DisplayMessageActivity">
        </activity>

        <service android:name=".MyService">
        </service>

        <activity android:name=".IntentReceiver">
            <intent-filter>
                <!--<action android:name="com.flagstore.ctf.OUTGOING_INTENT"/>-->

                <!--<category android:name="android.intent.category.DEFAULT"/>-->

                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="https"
                    android:host="www.dropbox.com"
                    />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.ha0k3.helloworld.FileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" >
                </action>
                <data
                    android:scheme="content"
                    android:path="media/external/images/media/"
                    android:mimeType="image/jpg"
                    />
            </intent-filter>


            <!--<scheme>://<host>:<port>[<path>|<pathPrefix>|<pathPattern>]-->
        </receiver>
    </application>

</manifest>